vendor
**/*.test
.env
coverage.out
testreports
genie_output
genie_audit.log
build
**/.genie.db*
**/*genie_audit.ndjson
examples/**/*.sh
examples/**/.genie/*
*.out
.genie
examples/devops-in-k8s/.terraform
examples/devops-in-k8s/dev.tfvars
installation/k8s/.terraform
