vendor
**/*.test
.env
coverage.out
testreports
genie_output
genie_audit.log
build
**/.genie.db*
**/*genie_audit.ndjson
examples/**/.genie/*
*.out
.genie
.terraform
*auto.tfvars
installation/k8s/.terraform
backend.tf
examples/cloud-discovery/terraform.tfstate
